apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    database: swarmgrid
    user: swarmgrid
    secureJsonData:
      password: swarmgrid
    jsonData:
      sslmode: disable
    editable: false
